<ng-container *ngIf="stop.name !== undefined">
  <div class="container mt-5">
    <div style="display: flex; justify-content: space-between">
      <h1>{{ stop.name }}</h1>

      <button
        class="btn"
        [ngClass]="{
          'btn-primary': !bookmarked,
          'btn-secondary': bookmarked
        }"
        (click)="switchBookmark()"
      >
        {{ bookmarkButtonText }}
      </button>
    </div>

    <table class="table table-bordered w-75 mt-5">
      <thead>
        <th
          class="text-center"
          scope="col"
          *ngFor="let prod of stop.products | keyvalue"
        >
          {{ prod.key | titlecase }}
        </th>
      </thead>
      <tbody>
        <tr>
          <td *ngFor="let prod of stop.products | keyvalue">
            <span *ngIf="prod.value; else no"><mat-icon>done</mat-icon></span>
            <ng-template #no>
              <span> <mat-icon>close</mat-icon></span>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-5">
      <form [formGroup]="departureGroup">
        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <input
                type="datetime-local"
                class="form-control"
                formControlName="when"
              />
            </div>
            <div class="col-md-2">
              <input
                type="number"
                class="form-control"
                formControlName="duration"
              />
            </div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-primary"
                (click)="showDepartures()"
              >
                Show Departures
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <hr />
    <div class="shadow rounded mt-5" *ngFor="let dep of departures">
      <div class="card">
        <div class="card-header">
          <strong>Direction:</strong>{{ " " + dep.direction }} |
          <strong>Travel Nr.</strong>{{ dep.line.fahrtNr }}
        </div>
        <div class="card-body">
          <ul>
            <li>Planned: {{ " " + dep.plannedWhen | date: "medium" }}</li>
            <li *ngIf="dep.delay >= 0">
              Delay: {{ " " + dep.delay / 60 + " " }} min
            </li>
            <li *ngIf="dep.delay < 0">
              Early: {{ " " + -dep.delay / 60 + " " }} min
            </li>
            <li *ngIf="dep.platform !== null">
              Platform: {{ " " + dep.platform }}
            </li>
            <li>Transport: {{ " " + dep.line.product | titlecase }}</li>
          </ul>
          <hr />
          <p class="text-warning">{{ dep.line.summary }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
