<div class="shadow rounded">
  <div class="card">
    <div class="card-header">
      <span
        class="link-info"
        style="cursor: pointer"
        (click)="showInfo(stop['id'])"
        >{{ stop.name }}</span
      >
    </div>
    <div class="card-body">
      Available transport options:
      <ul style="list-style: none">
        <li *ngFor="let prod of stop.products | keyvalue">
          <span *ngIf="prod.value">- {{ prod.key | titlecase }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
